@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Jacques+Francois+Shadow&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}
html{
    scroll-behavior: smooth;
    overflow-x: hidden;


}

body{
    background-color: #fff;

}

#preloader{
     background: #000 url(img/circle-loader.gif) no-repeat center center;
     background-size: 15%;
     width: 100vw;
     height: 100vh;
     position: fixed;
     z-index: 100;
}



nav{
    width:100%;

    display: flex;
    justify-content: space-around;
    height: 7vh;
    z-index: 10;
    position: fixed;
}
.logo{
    width: 5%;


    img{
        width: 100%;
        height: 100%;
    }
}

nav ul {
    display: flex;
    text-decoration: none;
    justify-content: center;
    margin-top: 10px;

}

nav ul li{
    margin-right: 3rem;
    font-size: 1.1rem;
    color: #fff;
    font-weight: 600;
    list-style: none;
}

nav ul li:hover{
    color: #ff0000;
}

nav ul a{
    text-decoration: none;
}


nav button{
    background-color: #ff0000;
    border-radius: 50px;
    font-size: 1.3rem;
    margin-top: 12px;
    padding: 0px 10px ;
    font-weight: 500;
    color: #fff;
    border: none;
    box-shadow: 5px 6px 5px rgba(0, 0, 0, 0.5);
}

/* ------------------------------------------------------------------- */


.headbackground{
    background: url(img/group.png) no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
    background-blend-mode: multiply;
    min-height: 100vh;
    display: flex;




}

.headbackground .group1{
    opacity: 0.3;
}

.headbackground .photographer{
    position: absolute;
    width: 100px;
    top: 110px;
    left: 260px;
    z-index: 5;
}

.headbackground .photoFrame{
    position: absolute;
    top: 240px;
    left: 850px;
    z-index: 4;
    animation: photoFramer;
    animation-timeline: view();
}





.headbackground .studiotext{
    z-index: 4;
    color: #fff;
    text-decoration: wavy;
    position: absolute;
    top: 100px;
    left: 50px;
    font-size: 75px;
    font-family: "Poppins", serif;
}

.headbackground .studiotext2{
    top:200px;

}

.headbackground p{
    z-index: 5;
    position: absolute;
    font-size: 20px;
    top: 400px;
    left: 50px;
    color: #fff;
}

/* ========================================================= */
.divisions{
    width:100%;
}

.divisions .background{
    display: flex;
    justify-content: space-around;
    margin-top: 10%;
    margin-bottom: 100px;


}

.box1 {
    width: 20vw;
    height:25vw ;
    padding: 2rem 1rem;
    background: #fff;
    display: flex;
    align-items: flex-end;
    box-shadow: 0 7px 10px rgba(0,0,0,0.6);
    transition: 0.5s ease-in-out;
    position: relative;
}

.box1:hover{
    transform: translateY(20px);
}

.box1:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    width: 100%;
    height: 100%;
    background: linear-gradient(to bottom,rgba(200,200,200,0),rgba(200,200,200,0), rgba(0,176,155,0.5), rgba(150,201,61,1));
    z-index: 2;
    transform: 0.5s all;
    opacity: 0;
    
}

.box1:hover:before{
    opacity: 1;
}

.box1 img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
}

.box1 .info{
    position: relative;
    z-index: 3;
    color: #fff;
    opacity: 0;
    transform: translateY(30px);
    transition: 0.5s all;
}

.box1:hover .info{
    opacity: 1;
    transform: translateY(0px);
}

.box1 .info h1{
    margin: 0;
    font-size: 30px;
}

.box1 .info p{
    letter-spacing: 1px;
    font-size: 15px;
    margin-top: 8px;
    margin-bottom: 20px;
}

.box1 .info .btn{
    text-decoration: none;
    padding: 0.5rem 1rem;
    background-color: #FD1009;
    font-size: 14px;
    font-weight: bold;
    cursor: pointer;
    transition: 0.4s ease-in-out;
    color: #fff;
}

.box1 .info .btn:hover{
    box-shadow: 0 7px 10px rgba(0,0,0,0.6);
}

/* -------------------------------------------------------------------------------------------------------- */


/* ------------------------------------------------------------------ */

.sentence{
    background: url(img/background\ \(2\).png) no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
    background-blend-mode: multiply;
    min-height: 100vh;
    display: flex;
    
}

.sentence .collectText{
    margin-top: 100px;
    margin-left: 40%;
    width: 45%;
    color: #fff;

}

.sentence .collectText h3{
    font-size: 2rem;
    position: relative;
}

.sentence .collectText h3::after{
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    border: 2px solid #ff0000;
    width: 15%;

}

.sentence .collectText h1{
    margin-top: 2%;
    font-size: 2.5rem;
    color: #fff;
    position: relative;

    
}

.sentence .collectText h1::after{
    content: "";
    position: absolute;
    left: 0%;
    bottom: 0;
    border: 2px solid #ff0000;
    width: 60%;


}


.sentence .collectText p{
    margin-top: 20px;
    font-size: 1rem;
    
}


.sentence .collectText button{
    margin-top: 5%;
    font-size: 1.5rem;
    border: none;
    padding: 5% 5% 5% -2%;
    margin-left: 11%;
    background-color: #FD1009;
    box-shadow: 10px 10px 10px rgba(0,0,0,0.6);
    color: #fff ;
}

.sentence .collectText button span{
    margin-right: -20%;
    color: #fff;
}
/* ---------------------------------------------------------------- */
.show{
    width: 100%;
    margin-top: 15%;
    height: 80vh;

}

.show .alltext{

    position: relative;
}

.show .alltext .card1{
    width: 55%;
    height: 70vh;
    margin-left: 30%;
    background-color: #d40000;
    padding-left: 22%;
    padding-top: 8%;
    text-align: center;
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.5);
}
.show .alltext .card1 h1{
    font-size: 2rem;
    font-weight: bold;
    color: #fff;

}

.show .alltext .card1 h3{
    font-size: 2rem;
    font-weight: 500;
    margin: 10% 0;
}


.show .alltext .card2{
    width: 25%;
    height: 92%;
    top: 3%;
    left: 25%;
    position: absolute;
    overflow: hidden;
    border: 3px solid #fff;
    box-shadow: 10px 25px 30px rgba(0,0,0,0.5);
}


.show .alltext .card2 .warpper{
 
    width: 100%;
    display: flex;
    animation: slide 18s infinite;

}

@keyframes slide{
    0%{
        transform: translateX(0);
    }

    25%{
        transform: translateX(0);
    }

    30%{
        transform: translateX(-100%);
    }

    50%{
        transform: translateX(-100%);
    }

    55%{
        transform: translateX(-200%);
    }

    75%{
        transform: translateX(-200%);
    }

    80%{
        transform: translateX(-300%);
    }
    90%{
        transform: translateX(-300%);
    }

    100%{
        transform: translateX(-300%);
    }

    100%{
        transform: translateX(0);
    }

}

.show .alltext .card2 .warpper img{
    width: 100%;
}
/* ------------------------------------------------------------------------------------------------------------------------- */

.event{
    color: #000;
    margin-top: 2%;
}

.event .text{
    display: flex;
    justify-content: space-around;
}

.event .text h1{
    font-size: 3rem;
    margin-right: 20%;
    color: #000;
    position: relative;
}

.event .text h1::after{
    content: "";
    position: absolute;
    left:20%;
    bottom: -10px;
    border: 2px solid #ff0000;
    width: 50%;
}


.event .text h3{
    font-size: 1.5rem;
    padding-top: 1.5%;
    position: relative;
}


.event .text h3::after{
    content: "";
    position: absolute;
    left:0;
    bottom:10px;
    border: 2px solid #ff0000;
    width: 50%;
}

.event button{
    margin-top: 5%;
    font-size: 1.5rem;
    border: none;
    padding: 5% 5% 5% -2%;
    margin-left: 45%;
    background-color: #FD1009;
    box-shadow: 10px 10px 10px rgba(0,0,0,0.6);
    color: #fff;
}

.event button span{
    margin-right: -20%;
    color: #fff;
    
}
/* ----------------------------------------------------------- */



.album{
    padding-top: 10px;
    display: flex;
    overflow: hidden;
}

.album .left{
    flex-basis: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0 50px;

}
.album .right {
    background: url(img/album4.png) no-repeat;
    background-size: cover;
    height: 80vh;
    flex-basis: 50%;
}

/* =============================================================== */

.online{
    display: flex;
    overflow: hidden;
    margin-bottom: 50px;
}

.online .right{
    flex-basis: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0 50px;

}
.online .left {
    background: url(img/online.png) no-repeat;
    background-size: cover;
    height: 80vh;
    flex-basis: 50%;
}



/* ---------------------------------------------------------- */
#footer{
    color: #fff;
    display: flex;
    margin-top: 2%;
    border-top: 2px solid #fff;
    border-bottom: 2px solid #fff;
    background: #000;
}

#footer .social-icons{
    display: flex;
    width: 30%;
    height: 25vh;
    position: relative;
    border-right: #fff 2px solid;
    color: #fff;
}

#footer .social-icons .facebook{
    position: absolute;
    top: 10%;
    left: 25%;
    transition: transform 0.3s ease-in-out;

    img{
        width: 60%;
    }

}

#footer .social-icons .facebook:hover{
    transform: scale(1.2);
}

#footer .social-icons .instagram{

    position: absolute;
    top: 33%;
    left: 40%;
    transition: transform 0.3s ease-in-out;

    img{
        width: 60%;
    }

}

#footer .social-icons .instagram:hover{

    transform: scale(1.2);

}





#footer .social-icons .twitter{

    position: absolute;
    top: 60%;
    left: 25%;
    transition: transform 0.3s ease-in-out;
    img{
        width: 60%;
    }
}

#footer .social-icons .twitter:hover{
    transform: scale(1.2);
}

#footer .links{
    display: flex;
    align-items: center;
    font-size: 1.5rem;
    margin-left: 10%;
    gap: 20px;
}

#footer .links a{
    
    display: inline;
    padding:4px 20px;
    border-right: 2px solid #fff;
    border-bottom: 2px solid #fff;
    border-radius: 10%;
    text-decoration: none;
    color: #fff;

}

#footer .links a:hover{
    border-left: 2px solid #fff;
    border-top: 2px solid #fff;
    border-right: none;
    border-bottom: none;


}

/* -------------------------------------------------------------------------- */
#copyrights{
    color: #fff;
    text-align: center;
    padding: 10px 0;
    font-size: 1rem;
    background-color: #000;
}

.home{
    width: 100%;
}
.scrollable-section {
    margin: 20px 0;
}